pokemon-list-entry-component{
  margin-bottom: 8vh;
  margin-left: 2vw;
}


.navigation{
  font-family: sans-serif;
  font-size: 1.1em;
  display: flex;
  justify-content: center;;
  height: 2vh;
  width: 100%;
  margin: auto;
}

.navigation button{
  font-size: 1.1em;
  border: none;
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  cursor: pointer;

}

.sortbar-top{
  height: 2vh;
  margin-top: 4vh;
  width: 35.1vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
}

.sortbar-line{
  display: block;
  margin-top: 0.8vh;
  border-top: 1px solid black;
}
.sortlabel{
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  margin-bottom: 1vh;
}

.sortbar-line.left{
  flex-grow: 1;
  border-left: 1px solid black;
}

.sortbar-line.right{
  flex-grow: 4;
  border-right: 1px solid black;
}
.sortbar{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 35vw;
  margin: auto;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.sortbar div{
  text-align: center;
  flex-grow: 1;
  padding: 5px;
  text-transform: uppercase;
  margin-left: 1vw;
  cursor: pointer;
}
