pokemon-page-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
}
.top-container{
  display: flex;
  justify-content: center;
}

.top-container img{
  height: 35vh;
  width: auto;
}

.evolutions-container{
  width: 70vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.label-container{
  display: flex;
  flex-wrap: nowrap;
  width: 74vw;
  height: 1vh;
  margin-left: auto;
  margin-right: auto;
}

.label-line{
  margin-top: 0.8vh;
  display: inline-block;
  content: "";
  border-top: 1px solid black;
}


.label-container .label{
  padding-left: 1vw;
  padding-right: 1vw;
}

.label-line.left{
  flex-grow: 1;
  border-left: 1px solid black;
}

.label-line.right{
  flex-grow: 2;
  border-right: 1px solid black;
}

.evolutions-entry{
  display: flex;
  justify-content: center;
}

.evolutions-entry .arrow{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: auto;
  margin-bottom: auto;
  height: 0;
  width: 0;
  border-top: 1.5vh solid transparent;
  border-bottom: 1.5vh solid transparent;
  border-left: 1.5vh solid black;
}

.evolutions-entry:last-of-type .arrow{
  border: none;
}

.fav-container{
  cursor: pointer;
  display: flex;

  justify-content: center;
  padding: 0.5vh;
  width: 30vw;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

.fav-container img{
  height: 100%;

}

.fav-container .text{
  display: inline-block;
  vertical-align: middle;
}
