

.imageholder{
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;

}

img{
  height: 100%;
  width: auto;
  margin: auto;
}

.listentry-name{
  font-size: 1.2em;
}

.listentry-types{
  font-size: 0.7em;
  font-weight: 400;
}

.listentry-number{
  font-size: 0.9em;
}

.heart{
  height: 3vh;
  width: auto;
  margin-left: auto;
  margin-right: 1vh;
  background-repeat: no-repeat;
}

.heart-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
