.filter-box{
  margin: auto;
}
.search-box{
  display: flex;
  justify-content: center;
}

.search-bar{
  width: 50vw;
  text-align: center;
  border: none;
  font-size: 1.5em;
  border-bottom: 2px solid black;
  background: url(images/search.png) no-repeat scroll 7px 7px;
  background-size: 2vh auto;
  cursor: pointer;
}


.filter-select{
  height:3vh;
  margin: auto;
  margin-top: 1vh;
  border: none;
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: 1em;
  margin-left: 0.5vw;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  padding-right: 30px;
  padding-left: 5px;
  background-position-x: 95%;
  cursor: pointer;
}
