/* Master Styles */

h2, h3 {
  color: #444;
  font-family: 'Raleway', sans-serif;

  font-weight: lighter;
}

body{
  background-color: #F6F6F6;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

my-app{
  display: flex;
  flex-direction: column;
}

searchbar-component{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

router-outlet{
  margin-top: 13vh;
}

.navbar {
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  height: 7vh;
  color: #369;
  font-family: 'Raleway', sans-serif;
}

barchart2{
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}

searchbar-component .search-bar{
  width: 50vw;
  text-align: center;
  border: none;
  font-size: 1.5em;
  border-bottom: 2px solid black;
  background: none;
}
.navbar .title{
  margin-top: auto;
  margin-bottom: 1.5vh;;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #369;
}
.navbar .navlinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar .navlinks a{
  margin-top: auto;
  margin-bottom: 1.5vh;
  text-transform: uppercase;;;
  margin-left: 1vw;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.navbar .navlinks a:hover{
  border-bottom: 2px solid black;
}

.navbar .navuser{
  display: flex;
  margin-top: auto;
  margin-bottom: 1.5vh;
  margin-left: auto;
  margin-right: 1.4vh;
  justify-content: flex-end;
}

.navbar .navuser .username{
  margin-right: 1vw;
}

.logout-button{
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logout-button:hover{
  font-weight: 400;
  border-bottom: 2px solid black;
}

list-component{
  width: 60vw;
  margin: auto;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardview{
  justify-content: center;
  margin: auto;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

pokemon-list-entry-component{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
}


label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

select:focus, textarea:focus, input:focus, button:focus{
    outline: none;
}
