.container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.saved-pokemon-container{
  display: flex;
  flex-wrap: wrap;
}

.message{
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.message:first-of-type{
  font-size: 1.5em;
  margin-bottom: 2vh;
}

.submit-container{
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.button{
  padding: 0;

  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;;
  border: none;
  background-color: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.button:hover{
  border-bottom: 2px solid black;
}



.button:last-of-type{
  text-align: right;
}


.textfield{
  font-size: 1.4em;
  border: none;
  background-color: none;
  background: none;
  border-bottom: 2px solid black;
  margin-top: 2vh;
  vertical-align: text-bottom;;
  width: 100%
}

.testuser{
  margin-top: 5vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.form{
  margin-top: 5vh;
  width: 16vw;
  margin-left: auto;
  margin-right: auto;
}
