<div [style.width]="width">
        <canvas #canvas></canvas>
</div>
<div #div class="textbox" [hidden]="hide" [style.width]="Twidth" [style.top]="y" [style.left]="x" [style.height]="Theight">{{text}}</div>
<h1>{{title}}</h1>

